/*
* { <- applies to all elemnts
    margin: 0; 
    padding: 0; resets the default padding create by html
}*/

body { /* refers to the body tag in the html*/

    background-color: #f4f4f4; /*light grey*/
    color: #555555; /*darker gray*/

    font-family: Arial, Helvetica, sans-serif; /* web safe font families for more fonts*/
    font-size: 16px;
    font-weight: normal;

    /*same as above*/
    font: normal 16px Arial, Helvetica, sans-serif;

    line-height: 1.6em; /* em is just a unit, px can also be used */

}

.container {
    width: 80%; /* the width of the text box; using % instead of px auto makes is responsive to resizing */
    margin: auto; /* auto margins will push the text box to the center*/
}

.box-1 {
    background-color: #333333;
    color: #ffffff;

    border: 5px red solid;

    /* short form for this:
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;

    border-width: 3px; for adjusting width
    border-bottom-width: 10px; for a justing a specific side's width
    border-top-style: dotted; for border styles; can be generalized with same kind of syntax above
    
    the same can be done with margins and padding
    */

    padding: 20px; /*use if all sides have a consistend amount of padding, follow general syntax above for padding on specific sides*/
}

.box-1 h1 { /*refers to the h1 heading in the box-1 class
    font-family: Tahoma; /*changes font just for the title*/
    font-weight: 800; /*boldness of font*/
    font-style: italic; /*bold, italic, etc*/
    text-decoration: underline; /*adds additional decorations; more can be searched up*/
    text-transform: uppercase; /*makes the text all upper/lowercase*/
    letter-spacing: 0.2em; /*spaces between characters*/
    word-spacing: 1em; /*space between words*/
}

/*
CSS selectors:
a { background-color: yellow; }

a -> selector (in this case a = link)
{ } declaration start and end
bacground-color -> property
: -> property/value separator
yellow -> value
; -> declaration separator
*/

/*
Color names in css

-Color names (red, etc)
-Html 5 color names (coral, misty rose, etc)
-Hexadecimal (# + code for golor)
-RGB (rgb ( red, green, blue) )
*/